@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
background:#333333;
color: #e6e4e4;
font-family:Roboto;
}
.bt{
  background:#72d05e;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
  border: none;
  color: #333333;
}
